button {
  padding: 0.5rem 1rem;
  border-radius: 24px;
  font-weight: 500;
  width: 100%;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button.active {
  background-color: var(--secondary-colour--2);
  background: linear-gradient(
    90deg,
    var(--primary-colour) 0%,
    var(--secondary-colour) 100%
  );
  color: var(--text-colour--2);
}
