.svgContainer {
  width: 100%;
  height: 100%;
}

.backgroundCircle {
  stroke: var(--background-colour--2);
  fill: transparent;
}

.progressCircle {
  fill: transparent;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}

.centerText {
  font-size: 1.25rem;
  fill: #111;
}
