:root {
  --primary-colour: hsl(32, 99%, 50%);
  --secondary-colour: hsl(0, 100%, 56%);
  --background-colour: hsl(0, 0%, 92%);
  --background-colour--2: hsl(192, 29%, 82%);
  --text-colour: hsl(0, 0%, 0%);
  --text-colour--2: hsl(0, 0%, 100%);
  --green-colour: hsl(153, 100%, 42%);
  --red-colour: hsl(0, 100%, 55%);
  --blue-colour: hsl(212, 100%, 50%);
  --yellow-colour: hsl(48, 100%, 67%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & font*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
button {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  border: 2px solid blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
