section.adminContent {
  padding: 0.5rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  grid-row: 1;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  border-bottom: 3px solid var(--primary-colour);
  border-image: linear-gradient(
      to right,
      var(--primary-colour),
      var(--secondary-colour)
    )
    1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  min-width: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--text-colour--2);
  border-radius: 24px;
  gap: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row#stats {
  flex: 1;
}

.row#park {
  flex: 2;
}

.row#activities {
  flex: 2;
}

.stat {
  align-items: center;
  justify-content: center;
}

.stat__icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.stat__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat__content span {
  text-align: center;
  font-size: 2.5rem;
  margin: -1rem;
}

.card .stat__icon#visitors {
  background: linear-gradient(135deg, #a1c4fd3c 0%, #c2e9fb3c 100%);
  color: var(--text-colour--2);
}

.stat__icon#visitors svg {
  color: var(--blue-colour);
}

.stat__icon#slots {
  background: linear-gradient(135deg, #7eff5a3c 0%, #b5f2ca3c 100%);
  color: var(--text-colour--2);
}

.stat__icon#slots svg {
  color: var(--green-colour);
}

.stat__icon#revenue {
  background: linear-gradient(135deg, #ff9a9e3c 0%, #fad0c43c 100%);
  color: var(--text-colour--2);
}

.stat__icon#revenue svg {
  color: var(--red-colour);
}

.parking {
  min-width: 20rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.parking__info {
  min-width: 20rem;
}

.parking__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.parking__img {
  width: 100%;
  min-width: 12rem;
  border-radius: 16px;
  object-fit: cover;
}

.vehicles {
  align-items: start;
  justify-content: start;
}

.vehicles > p > strong {
  font-size: 1.5rem;
}

.activities {
  display: flex;
  gap: 1rem;
}

.occupancy__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.occupancy__legend {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.occupancy__legend > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.occupancy__legend_icon {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.occupancy__legend_icon#occupied {
  background: var(--red-colour);
}

.occupancy__legend_icon#unoccupied {
  background: var(--background-colour--2);
}

.circular__progress {
  flex: 1;
  max-width: 20rem;
}

@media screen and (min-width: 768px) {
  .stat {
    flex-direction: row;
  }
  .parking__content {
    flex-direction: row;
  }

  .occupancy__content {
    flex-direction: row;
  }
}
