nav.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  background-color: var(--text-colour--2);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
  width: 100%;
  transition: all 0.3s ease;
}

nav.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

nav.navbar button {
  text-align: left !important;
}

nav.navbar button > p {
  display: none;
}

footer {
  display: none;
  position: absolute;
  bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  nav.navbar {
    padding: 2rem 1rem;
    flex-direction: column;
  }

  nav.navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav.navbar button > p {
    display: block;
  }

  footer {
    display: block;
  }
}
